.gshow,
.home-column--entertainment,
.hui-color-entertainment,
.franja-globosatplay{
	display: none !important;
}
.tag-manager-publicidade-banner_slb_topo,
.tag-manager-publicidade-banner_slb_meio,
.tag-manager-publicidade-banner_slb_fim,
.home-widgets-inferiores {
	display: none !important; //mostra publicidade
}
